<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-4">
      <div class="logo">
      </div>
      <div class="the">
        <span class="logo-theme">Find your ideal</span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-8">
      <div class="desktop">
        <form [formGroup]="authorizationForm" (ngSubmit)="onSubmit()">
          <div
            class="form-authorization"
            id="header-form-authorization">
            <div class="form-group">
              <ul>
                <li>
                  <label for="username">If you already have a profile</label>
                  <input
                    type="text"
                    id="username"
                    class="form-control"
                    placeholder="Username"
                    formControlName="username">

                  <input
                    type="checkbox"
                    id="rememData"
                    formControlName="rememData">
                  <label for="rememData">Remember Data</label>
                </li>
                <li class="input-password">
                  <input
                    type="text"
                    id="password"
                    class="form-control"
                    placeholder="Password"
                    formControlName="password">
                  <label for="password">Did you forget your password?</label>
                </li>
                <li>

                  <button class="btn btn-primary" type="submit">Sign in</button>
                </li>
              </ul>
            </div>
          </div>
        </form>

      </div>
   <a class="user-list" routerLink="/user-list">User list</a>


      <div class="mobile">
        <div class="dropdown">
          <button  (click)="toToggleForm()" class="btn btn-primary already">
            Already you have a profile?
          </button>
          <div  *ngIf="toggle">
            <form  [formGroup]="authorizationForm" (ngSubmit)="onSubmit()">
              <div class="form-group one" >
                <input
                  type="text"
                  class="form-control"
                  placeholder="Username"
                  formControlName="username">
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Password"
                  formControlName="password">
              </div>
              <div class="form-group">
                <input
                  class="remember-data"
                  type="checkbox"
                  id="rememDat"
                  formControlName="rememData">
                <label for="rememDat">Remember Data</label>
              </div>
              <button type="submit" class="btn btn-primary submit">Sign in</button>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
