.nav-bar {
  height: 65px;
  background-color: #209734;
}
.back {
  border: 1px solid white;
  margin-top: 9px;
  background: transparent;
  color: white;
  font-size: 22px;
}

.nav-user-list li {
  margin-right: 70px;
  display: inline-block;
}
.nav-user-list {
  margin-top: 13px;
  float: right;
}
.create {
  height: 43px;
  width: 150px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0;
  color: #ffffff;
  text-transform: uppercase;
}
td {
  width: 111px;
}
.th-admin {
  width: 111px;
}
.form-role, .th-role {
  width: 180px;
}
a {
  cursor: pointer;
  text-decoration: none;
}
