<div class="nav-bar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div >
          <ul class="nav-user-list">
            <li class="left">
                <button class="btn create">
                  <span class="glyphicon glyphicon-plus"></span>
                  Create user
                </button>
            </li>
            <li class="right">
              <div class="admin">Admin</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">User</th>
          <th scope="col">User</th>
          <th scope="col">Save changes</th>
          <th scope="col">Delete user</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

