<div class="nav-bar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div >
          <button class="btn back" (click)="goToMainPage()"><span class="glyphicon glyphicon-arrow-left"></span></button>
          <ul class="nav-user-list">
            <li class="left">
                <button class="btn create" (click)="createNewUser()">
                  <span class="glyphicon glyphicon-plus"></span>
                  Create user
                </button>
            </li>
            <li class="right">
              <div class="admin">Admin</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <table class="table table-bordered" >
        <thead>
        <tr>
          <th scope="col">User</th>
          <th class="th-role" scope="col">User role</th>
          <th class="th-admin" scope="col">Add Photo</th>
          <th class="th-admin" scope="col">Edit</th>
          <th class="th-admin" scope="col">Save changes</th>
          <th class="th-admin" scope="col">Delete user</th>
        </tr>
        </thead>
        <tbody class="user-list-group" *ngFor="let user of postUser">
        <tr>
          <th scope="row"><p>{{user.gender}}</p></th>
          <td class="form-role">
            <form id="role-form" [formGroup]="createRole" (ngSubmit)="onSaveChanges()">
              <select
                class="form-control role"
                id="role"
                formControlName="role">
                <option>User</option>
                <option>Moderator</option>
                <option>Administrator</option>
              </select>
            </form>
          </td>
          <td><span class="glyphicon-plus"></span></td>
          <td><a>Edit</a></td>
          <td><a (click)="onSaveChanges()">Save Changes</a></td>
          <td><a (click)="onDelete(user.id)">Delete user</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

